.note-editor-title {
  position: relative;
  padding: var(--note-item-title-padding);
  .input {
    position: relative;
    &-content {
      &-inner {
        font-size: 1.7em;
        font-weight: 600;
      }
      &::after {
        content: '标题';
        position: absolute;
        font-size: 0.7em;
        font-weight: normal;
        color: rgba(88, 96, 105, 0.36);
        right: 0px;
        top: 0;
      }
    }
  }
}
