// 底部

.mobile-home-footer {
  width: 100%;
  padding-bottom: 10px;
  border-top: 1px solid var(--border-default-color);
  * {
    user-select: none;
  }
  &-content {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-light-color);
    font-size: 12px;
    position: relative;

    &-more {
      position: absolute;
      right: 20px;
      color: var(--mobile-icon-color);
    }
  }
}
