@font-face {
  font-family: 'iconfont-editor'; /* Project id 4603099 */
  src: url('iconfont.woff2?t=1719563825479') format('woff2'), url('iconfont.woff?t=1719563825479') format('woff'),
    url('iconfont.ttf?t=1719563825479') format('truetype');
}

.iconfont-editor {
  font-family: 'iconfont-editor' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editor-todo-checked:before {
  content: '\e607';
}

.icon-editor-todo-check:before {
  content: '\e8bb';
}
