.contextmenu {
  position: fixed;
  z-index: 100;
  user-select: none;
  width: max-content;
  height: max-content;

  &-content {
    width: max-content;
    height: max-content;
    z-index: 102;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 4px;

    &-item {
      cursor: pointer;
      padding: 7px 8px;
      border-radius: 4px;
      font-size: 14px;
      min-width: 74px;
      font-size: 13px;
      color: #606266;
      &:hover {
        background-color: var(--note-item-hover-color);
      }
    }
  }
}
