@import './animation.scss';
@import './common.scss';

:root {
  // 背景
  --app-bg-color: #fff;

  // 滚动条颜色
  --app-scroller-bg-color: #d0d0d0;
  // 笔记风格
  --note-item-hover-color: rgb(245, 245, 245);
  --note-item-active-color: #eee;

  // 边框
  --border-default-color: #eee;

  // 边框大小
  --border-default-size: 0.5px;

  // 字体
  --font-default-color: #878787;
  --font-light-color: #eee;

  // 主题
  --theme-default-color: #515151;

  // light
  --theme-light-color: #878787;

  // 移动端图标
  --mobile-icon-color: #f3bb41;

  // 错误
  --theme-error-color: #f56c6c;
  // 警告
  --theme-warn-color: #e6a23c;
  // 成功
  --theme-success-color: #67c23a;

  // 高亮
  --theme-text-highlight: #f3bb41;
}

// 移动端
.mobile {
  --note-item-hover-color: white;
  --note-item-active-color: white;

  --note-item-swipe-delete: #f56c6c;
}
