.mobile-detail-tools {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.1);
  height: 42px;
  width: max-content;
  min-width: 60px;
  border-top: 1px solid var(--border-default-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 0px auto;
  gap: 20px;
  // 解决ios下巴高度问题
  margin-bottom: env(SAFE-AREA-INSET-BOTTOM, 20px);

  &-item {
    color: var(--mobile-icon-color);
    display: inline-flex;
    align-items: center;
  }
}
