/*全局样式*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: gotham, helvetica, arial, sans-serif;
    color: #878787;
}

div {
    box-sizing: border-box;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    -webkit-appearance: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blank {
    color: #cccccc !important;
    text-align: center;
    padding: 50px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;

}

::-webkit-scrollbar-thumb {
    height: 200px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #eeeeee;
}