$isMobie :false;

.mobie .wrap {
    flex-direction: column-reverse;
    $isMobie: true;

    #sidebar {
        display: flex;
        flex-direction: row;
        height: 73px !important;
        width: 100% !important;
        border: none;
        padding: 20px 15px 15px;
        border-radius: 25% 25% 0 0;

        &::after {
            content: " ";
            z-index: -2;
            height: 100%;
            width: 100%;
            position: absolute;
            top: -1px;
            left: 0;
            border-radius: 25% 25% 0 0;
            box-shadow: 0px -3px 4px 0px #e1e1e1;
        }

        .sideBtn {
            margin-bottom: 20px;
        }
    }

    #mainbarHome {
        width: 100% !important;
        height: calc(100% - 73px) !important;
        flex: 1;
    }

    #mainHome {

        /** 导航栏 **/
        #navbar {
            height: 50px !important;
            line-height: 50px !important;
            flex-direction: column !important;
            margin: 20px 0px 0px !important;
            padding: 0px 10px !important;
        }

        /* 文字区域 */
        .mainContent {
            margin: 10px 0px 0px;

            .EditHome {

                .EditHeader {
                    height: 48px !important;
                    margin: 0px;
                    padding: 0px 20px !important;

                    .title {
                        height: 48px !important;
                        line-height: 48px !important;
                    }
                }

                .EditContain {
                    padding: 0px !important;

                    .EditArea {
                        padding: 10px 20px;
                        font-size: 1em;
                    }
                }

            }
        }

    }

    /* 共用样式 */

    .item {
        box-shadow: $box-shadow;
        margin: 10px;
        border-radius: 4px;

        &,
        &:hover,
        &.itemActive {
            border-color: transparent !important;
        }
    }

    .toolbar {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width:370px) {
            & {
                padding: 0px 10px;
            }
        }
    }

}

@media screen and (max-width: 600px) {

    .el-message-box,
    .el-dialog {
        width: 80% !important;

    }
}