.mobie .wrap{
    flex-direction: column-reverse;
}

.mobie #MainContainer {
    width: 100% !important;
    height: calc(100% - 73px) !important;
    flex: 1;
}

.mobie .header {
    height: 50px !important;
    line-height: 50px !important;
    flex-direction: column !important;
    margin: 20px 0px 0px !important;
    padding: 0px 20px !important;
}

.mobie .EditContent {
    margin: 10px 0px 0px;
}

.mobie .EditContain {
    padding: 0px !important;
}

.mobie .EditHeader {
    height: 48px !important;
    margin: 0px;
    padding: 0px 20px !important;
}

.mobie .EditHeader .title {
    height: 48px !important;
    ;
    line-height: 48px !important;
    ;
}

.mobie .Edit .EditArea {
    padding: 10px 20px;
    font-size: 1em;
}

.mobie .itemContent {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .1);
    margin: 10px;
    border-radius: 4px;
}
.mobie .itemContent,
.mobie .itemContent:hover,
.mobie .itemActive {
    border-color: transparent !important;
}

.mobie #sidebar {
    display: flex;
    flex-direction: row;
    height: 73px !important;
    width: 100% !important;
}

.mobie .toolbar {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}