//全局

$dark-bg-color:#252526;

$dark-color:#858585;

$dark-border-color:#1E1E1E;

//侧栏菜单

$dark-sidebar-bg-color:#333;

//主菜单

$dark-mainbar-bg-color:#252526;


//主页面

$dark-mainPanel-bg-color:#1E1E1E;


.dark {
    background-color: $dark-bg-color;

    #sidebar {
        background-color: $dark-sidebar-bg-color !important;
        border-color: $dark-sidebar-bg-color !important;

        .sideBtn {
            background-color: $dark-mainbar-bg-color;
            border-color: $dark-mainbar-bg-color;
            color: $dark-color;

            &:hover,
            &.active {
                color: $theme-color;
                border-color: $theme-color !important;
            }
        }

    }

    .mainbar {
        background-color: $dark-mainbar-bg-color;
        border-color: $dark-mainPanel-bg-color !important;

        .search-input,
        .search-icon,
        .note .title,
        .note .itemTool,
        .plugin .title {
            color: $dark-color;
            border-color: $dark-color;
        }

        .SearchBar,
        .ListHeader,
        .mainbar-page-header {
            border-color: $dark-mainPanel-bg-color !important;
        }

        .item {
            border-color: $dark-mainPanel-bg-color;

            &.note.itemActive,
            &.note:hover {
                color: $theme-color !important;
                border-color: $theme-color !important;
            }
        }

        #navbar {
            background-color: $dark-sidebar-bg-color !important;
            border-color: $dark-sidebar-bg-color !important;

            .sideBtn {
                background-color: $dark-mainbar-bg-color;
                border-color: $dark-mainbar-bg-color;
                color: $dark-color;

                &:hover,
                &.active {
                    color: $theme-color;
                    border-color: $theme-color !important;
                }
            }
        }
    }

    .mainPanel {
        background-color: $dark-mainPanel-bg-color;

        #screenArea,
        .fullScreen {
            background-color: $dark-mainPanel-bg-color !important;
        }

        #navbar {
            button {
                background-color: $dark-sidebar-bg-color !important;
                color: $dark-color;
            }
        }

        .EditPanel {

            input,
            textarea,
            .tag {
                background-color: $dark-mainPanel-bg-color !important;
            }
        }


        .el-dialog {
            background-color: $dark-mainbar-bg-color;
        }

        .mobie-note-header {
            border-color: $dark-mainbar-bg-color !important;
            color: $dark-color !important;
            background-color: $dark-mainbar-bg-color;

            a {
                color: $dark-color !important;
            }
        }

        .mobie-note-container {
            color: $dark-color;
        }

        .mobie-note-navbar {
            border-color: $dark-mainbar-bg-color !important;
            background-color: $dark-mainbar-bg-color;

            .mobie-note-toolbar>button {
                background-color: $dark-mainbar-bg-color;
                color: $dark-color !important;
            }
        }
    }

    .el-drawer {
        .el-drawer__header {
            background-color: $dark-mainbar-bg-color;
            color: $dark-color !important;
        }

        .el-drawer__body {
            background-color: $dark-mainPanel-bg-color;
            border-color: $dark-mainPanel-bg-color !important;
            color: $dark-color !important;

            .el-form-title {
                border-color: $dark-mainbar-bg-color !important;
                color: $dark-color !important;
            }

            input,
            .el-color-picker__trigger {
                background-color: $dark-mainbar-bg-color !important;
                border-color: $dark-color;
            }

        }
    }

    ::-webkit-scrollbar {

        background-color: $dark-mainPanel-bg-color
    }

    ::-webkit-scrollbar-track {
        background-color: $dark-mainPanel-bg-color
    }

    ::-webkit-scrollbar-thumb {
        background-color: #151515;
    }
}