.dark,
.dark #sidebar,
.dark #sidebar .sideBtn {
    background-color: #333 !important;
    border-color: #333 !important;
    color: #858585 !important;
}

.dark #sidebar .sideBtn {
    background-color: #252526 !important;
}

/* 笔记列表 */
.dark .item {
    border-color: #333333 !important;
}

.dark .item:hover,
.dark .itemActive {
    border-color: #2dbe60 !important;
}

.dark #sidebar .sideBtn:hover,
.dark #sidebar .sideBtn.active {
    color: #2dbe60 !important;
    border-color: #2dbe60 !important;
}

.dark #mainbarHome {
    background-color: #252526;
    border-color: #252526 !important;
}

.dark #mainbarHome .setting li,
.dark .main-wrap>.title,
.dark .SearchBar,
.dark .ListHeader {
    border-color: #333333 !important;
}

.dark .item .title,
.dark #mainbarHome .search-input {
    color: #ccc;
}

.dark .item .itemTool {
    color: #252526 !important;
}

.dark #mainHome,
.dark #viewHome {
    background-color: #1E1E1E;
}

.dark .navbar button {
    background: #333;
    color: #ccc;
    border-color: #333;
}

.dark .navbar button:hover {
    opacity: 0.8;
}

.dark #EditTextarea input,
.dark #EditTextarea .EditArea,
.dark #ViewTextarea,
.dark #mainHome .tag {
    border-color: #1E1E1E;
    background-color: #1E1E1E !important;
}

.dark .EditArea,
.dark .ViewArea {
    color: #ccc !important;
}

.dark .viewHome .ViewArea,
.dark .editHome .EditArea {
    border-color: #1a1a1a !important;
}

.dark ::-webkit-scrollbar {

    background-color: #1E1E1E;

}

.dark ::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #151515;
}