.parse-format-clear {
  // 弹窗
  &-dialog {
    .dialog-content {
      max-width: 1080px;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    &-top {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      font-size: 1.17em;
      font-weight: bold;
    }

    &-textarea {
      width: 100%;
      flex: 1;
      border: 1px solid #eee;
      border-radius: 4px;
      overflow: hidden;
      textarea {
        border: none;
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        padding: 15px;
      }
    }

    &-bottom {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      flex-wrap: wrap;
      gap: 20px;
      .iconfont {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #fff;
        border: var(--border-default-size) solid #dcdfe6;
        transition: 0.1s;
        text-align: center;
        color: var(--font-default-color);
        cursor: pointer;
        width: 36px;
        height: 36px;
        &:hover {
          color: #fff;
          background-color: var(--theme-default-color);
          border-color: var(--theme-default-color);
        }
      }
    }
  }
}
