  /* markdown样式 */

  .marked{
      color: #383838;
  }
  .marked a{
      color: #0069d6;
  }
  .marked a:hover{
      outline: none;
      text-decoration: none;
  }
  .marked img{
    max-width: 100%;
  }

  .marked p>code,
  .marked span>code,
  .marked li>code {
      margin: 0px 5px;
      border: 1px solid #ddd;
      background: #f6f6f6;
      padding: 3px;
      border-radius: 3px;
      font-size: 14px;
      color: #dc9696;
  }

  .marked ul,
  .marked ol {
      padding: 0;
      margin: 0;
  }
  .marked ul li{
    list-style-type: disc;
  }
  .marked ol li{
      list-style-type: decimal;
  }

  .marked li {
      padding: 0;
      margin-left: 20px;
  }

  .marked .li-checkbox {
      margin: 0;
  }

  .marked .li-checkbox input{
    -webkit-appearance: checkbox;
  }

  .marked blockquote {
      color: #666;
      border-left: 4px solid #ddd;
      padding: 4px 15px;
      margin-left: 0;
      background-color: #f5f5f5;
      margin: 10px 0px;
  }
  .dark .marked blockquote {
    border-color:#4e4e4e;
    background-color: #333333;
}

  .marked blockquote p {
      margin: 0px;
  }

  .marked pre {
      width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
      background: #333;
      padding: 10px 30px;
      color: #ccc;
      box-sizing: border-box;
  }