@import '@/styles/functions/index.scss';
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 100;
  &-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-wrap {
    z-index: 102;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
  }

  &-header {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0px 15px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    h3 {
      font-size: 16px;
      flex: 1;
      margin: 0px;
      @include line(1);
    }
    .iconfont {
      cursor: pointer;
      border-radius: 4px;
      width: 22px;
      height: 22px;
      &:hover {
        background-color: #eee;
      }
    }
  }

  &-content {
    flex: 1;
  }
}
