.mobile-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--app-bg-color);
  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px;
    // 搜索
    &-search {
      flex: 1;
      position: relative;
      transition: width 3s ease-in-out;
      &__input {
        border: none;
        background-color: #eee;
        outline: none;
        width: 100%;
        padding: 5px 30px 5px 15px;
        line-height: 2em;
        border-radius: 8px;
        font-size: 1em;
      }
      .icon {
        position: absolute;
        right: 10px;
        top: 10px;
        color: var(--font-default-color);
        cursor: pointer;
      }
    }
    &-add {
      display: flex;
      align-items: center;
      color: var(--mobile-icon-color);
      padding-left: 10px;
      overflow: hidden;
    }
  }

  &-content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
