.mobile-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--app-bg-color);
  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px;
    // 搜索
    &-search {
      flex: 1;
      &__input {
        border: none;
        background-color: #eee;
        outline: none;
        width: 100%;
        padding: 5px 15px;
        line-height: 2em;
        border-radius: 8px;
        font-size: 1em;
      }
    }
    &-more {
      display: flex;
      align-items: center;
      color: var(--mobile-icon-color);
      margin-left: 5px;
    }
  }

  &-content {
    flex: 1;
    overflow: hidden;
    // 列表
    &-list {
      position: relative;
      height: 100%;
      overflow: auto;
      padding: 15px;
      overflow-x: hidden;

      // 列表
      &-scroll {
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        transform: rotate(0deg); // 解决移动端border-radius不隐藏的问题

        .swipeout-list-item + .swipeout-list-item {
          border-top: var(--border-default-size) solid var(--border-default-color);
        }

        // 右滑菜单
        &-right {
          &-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 100%;
            color: #fff;
            background-color: var(--note-item-swipe-delete);
          }
        }
      }
    }

    &-blank {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 14px;
      flex-direction: column;
      color: var(--font-default-color);
      gap: 10px;
      &-text {
        .icon {
          margin: 0px 4px;
        }
      }
    }
  }

  // 底部

  &-footer {
    width: 100%;
    padding-bottom: 10px;
    border-top: 1px solid var(--border-default-color);
    * {
      user-select: none;
    }
    &-content {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--theme-light-color);
      font-size: 12px;
      position: relative;

      &-add {
        position: absolute;
        right: 15px;
        color: var(--mobile-icon-color);
      }
    }
  }

  // 抽屉
  &-more {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    &-header {
      background-color: #fff;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 500;
    }
    &-content {
      margin: 15px 15px 20px;
      flex: 1;
      border-radius: 8px;
      font-size: 14px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      &-item {
        background-color: #fff;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        &-left {
          flex: 1;
        }
        & + & {
          border-top: var(--border-default-size) solid var(--border-default-color);
        }

        .error {
          color: var(--theme-error-color);
        }
      }
    }

    &-footer {
      background-color: #f6f6f6;
      text-align: center;
      height: 40px;
      padding-bottom: 15px;
      a {
        text-decoration: none;
        outline: none;
        font-size: 10px;
        color: var(--theme-light-color);
      }
    }
  }
}
