.desktop-nav-menu {
  width: 72px;
  border-right: var(--border-default-size) solid var(--border-default-color);
  background-color: #f8f8f8;
  display: flex;
  height: 100%;
  flex-direction: column;

  &-top {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-logo {
      width: 36px;
      height: 36px;
    }
  }

  &-content {
    flex: 1;
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-item {
        &-content {
          display: flex;
          align-items: center;
          height: 70px;
        }
      }
    }
  }

  &-bottom {
    &-version {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 12px;
      color: var(--font-default-color);
    }
  }
}
