@import '@/styles/functions/index.scss';
.note-item {
  display: flex;
  flex-direction: column;
  padding: 15px 18px;
  width: 100%;
  cursor: pointer;

  * {
    user-select: none;
  }

  b {
    color: var(--theme-text-highlight);
  }

  &:hover {
    background-color: var(--note-item-hover-color);
    border-radius: 10px;
  }

  &.active {
    background-color: var(--note-item-active-color);
    border-radius: 10px;
  }
  &-header {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--theme-default-color);
    margin-bottom: 5px;
    height: 20px;

    // 在线标识
    &__onlineTag {
      margin-right: 6px;
      // 在线同步
      &.online {
        & > i {
          color: var(--theme-default-tag-color);
        }
      }
      // 草稿
      &.draft {
        & > i {
          color: var(--theme-warn-tag-color);
        }
      }
    }
  }
  &-content {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    width: 100%;
    align-items: center;

    &__time {
      color: var(--theme-default-color);
    }
    &__text {
      color: var(--font-default-color);
      flex: 1;
      margin-left: 6px;
      @include line(1);
    }
  }

  & + & {
    border-top: var(--border-default-size) solid var(--border-default-color);
  }
  &.active + &,
  & + &.active {
    border-top: 1px solid #fff;
  }
}
