.shortcut-input {
  color: #8e8e8e;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1em;
  background: #fff;
  padding-block: 0px;
  padding-inline: 0px;
  position: relative;
  font-family: var(--font-family-regular);
  &::placeholder {
    color: #cccccc;
    font-size: 0.8em;
  }
}
