.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffffc2;
  &-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    animation: turn 1s linear infinite;
    i {
      font-size: 24px;
      color: #409eff;
    }
    @keyframes turn {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
  }
  &-text {
    font-size: 12px;
    height: 20px;
    margin-top: 6px;
    color: #515151;
  }
}
