.desktop-gap {
  cursor: col-resize;
  padding: 0px 2px;
  height: 100%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--border-default-color);
  }
}
