.note-share {
  // 主体
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-top {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      font-size: 1.17em;
      font-weight: bold;
    }

    &-preview {
      flex: 1;
      overflow: auto;
      .editor {
        &-content {
          padding: 10px 1em;
          font-size: 14px;
        }
      }
    }

    &-bottom {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      flex-wrap: wrap;
      gap: 20px;
      .iconfont {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #fff;
        border: var(--border-default-size) solid #dcdfe6;
        transition: 0.1s;
        text-align: center;
        color: var(--font-default-color);
        cursor: pointer;
        width: 36px;
        height: 36px;
        &:hover {
          color: #fff;
          background-color: var(--theme-default-color);
          border-color: var(--theme-default-color);
        }
      }
    }

    &-loading {
      background-color: #ffffffc2;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }
}
