.desktop-side-container-list-content {
  flex: 1;
  overflow: hidden;
  &-list {
    height: 100%;
    overflow: auto;
    padding: 10px;

    &-item {
      margin-bottom: 5px;
      width: 100%;
      content-visibility: auto;
      overflow: hidden;
    }
  }
}
