@import '@/styles/functions/tags.scss';

.note-tags-drawer {
  .drawer-content {
    height: 50vh;
  }
  &-wrapper {
    background: #fff;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 0px auto;
    width: 100%;
    // 解决ios下巴高度问题
    margin-bottom: env(SAFE-AREA-INSET-BOTTOM, 20px);

    &-header {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding: 10px 0px 20px 0px;
      color: var(--mobile-icon-color);
    }
  }
}

.note-tags-content {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &-item {
      color: #818181;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 14px;

      .icon {
        margin-left: 6px;
        font-weight: 300;
        color: #bcbcbc;
      }

      @include noteTagStyle();
    }
  }
}
