@import '@/styles/functions/index.scss';
.desktop-task-main-task-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  &:hover {
    background-color: var(--task-item-bg-color);
  }
  cursor: pointer;
  &-checkbox {
    margin-right: 8px;
    .checkbox {
      &::before {
        color: var(--task-item-theme-color);
      }
    }
  }
  &-content {
    flex: 1;
    overflow: hidden;
    &-title {
      font-size: 14px;
      color: var(--theme-default-color);
      @include line(1);
    }
    &-desc {
      font-size: 13px;
      color: var(--theme-light-color);
      padding-top: 2px;
    }
  }
}
