.desktop-main-container-detail-zoom {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    color: var(--mobile-icon-color);
    cursor: pointer;
  }
}
