#note-share-drawer {
  height: 100vh;
  width: 100vw;
  .drawer-content {
    max-height: 90vh;
  }
}
.note-share-drawer {
  background: #fff;
  border-radius: 20px;
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  // 解决ios下巴高度问题
  margin-bottom: env(SAFE-AREA-INSET-BOTTOM, 20px);

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: var(--mobile-icon-color);
  }

  // 主体
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-preview {
      flex: 1;
      overflow: auto;
      --note-item-content-padding: 0.5em 1em;
    }

    &-loading {
      background-color: #ffffffc2;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }
}
