@font-face {
  font-family: "iconfont"; /* Project id 1498139 */
  src: url('iconfont.woff2?t=1757853811514') format('woff2'),
       url('iconfont.woff?t=1757853811514') format('woff'),
       url('iconfont.ttf?t=1757853811514') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.note-todo:before {
  content: "\e663";
}

.note-fontColor:before {
  content: "\e600";
}

.note-code:before {
  content: "\e60d";
}

.note-create:before {
  content: "\e67a";
}

.note-archive:before {
  content: "\e611";
}

.note-restart:before {
  content: "\e614";
}

.note-photo:before {
  content: "\e672";
}

.note-image-error:before {
  content: "\e616";
}

.note-heading:before {
  content: "\e610";
}

.note-list-empty:before {
  content: "\e70e";
}

.note-italic:before {
  content: "\e6f8";
}

.note-bold:before {
  content: "\ec83";
}

.note-highlight:before {
  content: "\e630";
}

.note-through:before {
  content: "\e60e";
}

.note-translate:before {
  content: "\e60f";
}

.note-item-markdown:before {
  content: "\e670";
}

.note-online:before {
  content: "\e988";
}

.note-back:before {
  content: "\e608";
}

.note-sync:before {
  content: "\e6ca";
}

.note-item-splitscreen:before {
  content: "\e639";
}

.note-item-copy:before {
  content: "\e622";
}

.note-item-preview:before {
  content: "\e623";
}

.note-item-json-download:before {
  content: "\e654";
}

.note-mobile-more:before {
  content: "\e62f";
}

.note-item-share:before {
  content: "\e618";
}

.note-nav-branch:before {
  content: "\e60c";
}

.note-tip-error:before {
  content: "\e609";
}

.note-tip-warn:before {
  content: "\e60a";
}

.note-tip-success:before {
  content: "\e60b";
}

.note-todo-checked:before {
  content: "\e607";
}

.note-todo-check:before {
  content: "\e8bb";
}

.note-item-delete:before {
  content: "\e606";
}

.note-logo:before {
  content: "\e650";
}

.note-checked:before {
  content: "\e605";
}

.note-loading:before {
  content: "\e891";
}

.note-arrow-down:before {
  content: "\e604";
}

.note-search:before {
  content: "\e601";
}

.note-setting:before {
  content: "\e602";
}

.note-list:before {
  content: "\e603";
}

