.editor-config {
  height: 100%;
  &-textarea {
    height: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    padding: 14px;
    font-size: 14px;
    line-height: 16px;
  }
}
