@font-face {
  font-family: "iconfont"; /* Project id 1498139 */
  src: url('iconfont.woff2?t=1711264927146') format('woff2'),
       url('iconfont.woff?t=1711264927146') format('woff'),
       url('iconfont.ttf?t=1711264927146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.note-item-sync:before {
  content: "\e6a8";
}

.note-item-splitscreen:before {
  content: "\e639";
}

.note-nav-recycle:before {
  content: "\e6cd";
}

.note-item-copy:before {
  content: "\e622";
}

.note-item-preview:before {
  content: "\e623";
}

.note-item-json-download:before {
  content: "\e654";
}

.note-data-transfer:before {
  content: "\e742";
}

.note-mobile-more:before {
  content: "\e62f";
}

.note-item-share:before {
  content: "\e618";
}

.note-nav-branch:before {
  content: "\e60c";
}

.note-tip-error:before {
  content: "\e609";
}

.note-tip-warn:before {
  content: "\e60a";
}

.note-tip-success:before {
  content: "\e60b";
}

.note-mobile-add:before {
  content: "\e8ac";
}

.note-todo-checked:before {
  content: "\e607";
}

.note-todo-check:before {
  content: "\e8bb";
}

.note-item-delete:before {
  content: "\e606";
}

.note-logo:before {
  content: "\e650";
}

.note-checked:before {
  content: "\e605";
}

.note-loading:before {
  content: "\e891";
}

.note-arrow-down:before {
  content: "\e604";
}

.note-search:before {
  content: "\e601";
}

.note-nav-editing:before {
  content: "\e600";
}

.note-nav-setting:before {
  content: "\e602";
}

.note-nav-list:before {
  content: "\e603";
}

