.editor {
  width: 100%;
  height: 100%;
  position: relative;

  * {
    user-select: text;
    -webkit-user-select: auto;
  }

  [contenteditable] {
    -webkit-user-select: auto;
    user-select: all;
  }

  // 预览
  &-preview {
    pre {
      code.hljs {
        max-height: max-content !important;
      }
    }
  }

  // 主体
  &-content {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    border: none;
    // vditor样式修改
    &.vditor {
      border: none;
      --textarea-background-color: #fff;
      .vditor-reset {
        font-size: 14px;
      }
    }
  }

  &-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
