.desktop-side-container-list-header {
  height: 100px;
  color: var(--font-default-color);
  border-bottom: var(--border-default-size) solid var(--border-default-color);
  &-top {
    font-size: 22px;
    padding: 20px 24px;
    font-weight: 300;
  }
  &-bottom {
    font-size: 12px;
    display: flex;
    width: 100%;
    padding: 0px 24px;
    height: 20px;
    align-items: center;
    line-height: 20px;
    &-left {
      flex: 1;
    }
    &-right {
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      &-label {
        display: inline-flex;
        align-items: center;
        .iconfont {
          margin-left: 5px;
        }
      }

      // 弹窗窗
      &-selects {
        text-decoration: none;
        outline: none;
        padding: 5px;
        width: 120px;
        cursor: default;
        li {
          padding: 5px 15px;
          width: 100%;
          font-size: 14px;
          list-style: none;
          display: inline-flex;
          border-radius: 4px;
          cursor: pointer;
          .text {
            flex: 1;
          }
          &:hover {
            background-color: var(--note-item-hover-color);
          }
        }
      }
    }
  }
}
