@import '@/tiptap/icon/iconfont.css';
@import '@/tiptap/style/atom-one-dark.min.css';
@import '@/tiptap/extensions/index.scss';

.markdown-editor {
  color: #24292e;
  height: 100%;
  font-family: 'Helvetica Neue,Luxi Sans,DejaVu Sans,Hiragino Sans GB,Microsoft Yahei,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji",Segoe UI Symbol,"Android Emoji",EmojiSymbols';

  // 主题色
  --markdown-editor-theme-color: #f3bb41;
  --markdown-editor-gray-color: #e8e8e8;

  // 默认选择颜色
  ::selection {
    background: #edb94645;
  }

  // 非编辑状态下可以不设置height
  &[data-editable='false'] {
    .tiptap {
      min-height: 0;
    }
  }

  // 容器
  .tiptap {
    outline: none;
    min-height: 100%;
  }

  // 表格
  &-table {
    margin: 0.2em 0px;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;

    tr {
      position: relative;
      border: 1px solid var(--markdown-editor-gray-color);
    }

    th,
    td {
      position: relative;
      min-width: 50px;
      padding: 0.25em 0.5em;
      border: 1px solid var(--markdown-editor-gray-color);
    }
  }

  // 链接
  &-link {
    color: var(--markdown-editor-theme-color);
  }
}
