img-viewer {
  -webkit-user-modify: read-only;
  -webkit-user-drag: element;
  display: inline-block;
  max-width: 100%;

  .img-viewer {
    width: max-content;
    height: max-content;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    max-width: 100%;
    // 本地标识
    &-blob {
      position: relative;
      z-index: 0;
      &::after {
        content: 'Blob';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        color: #ccc;
        background-color: #eee;
        padding: 2px 4px;
        border-radius: 4px;
      }
    }
    img {
      max-width: 100%;
    }
  }
}
