.popover {
  display: inline-flex;
  width: max-content;
  height: max-content;
  position: relative;

  &-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
  }

  &-content {
    width: max-content;
    top: 100%;
    z-index: 2;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 0px 7px 0px #d9d9d9;
  }

  &-position {
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }

  &-slot {
    cursor: pointer;
  }
}
