@import '@/styles/global.scss';
* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

li,
ul {
  margin: 0;
  padding: 0;
}

// /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
// ::-webkit-scrollbar {
//   width: 4px;
//   height: 4px;
//   background-color: #f5f5f5;
// }

// ::-webkit-scrollbar-thumb {
//   height: 200px;
// }

// /*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track {
//   border-radius: 2px;
//   background-color: #f5f5f5;
// }

// /*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 2px;
//   background-color: #eeeeee;
// }
