.desktop-side-container-list-content {
  flex: 1;
  &-list {
    height: 100%;
    padding: 10px;
    &-item {
      margin-bottom: 5px;
      width: 100%;
      content-visibility: auto;
      overflow: hidden;
    }
  }

  &-blank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    flex-direction: column;
    color: var(--font-default-color);
    gap: 10px;
  }
}
