.desktop-main-container-config {
  height: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  padding-top: 72px;

  &-container {
    height: max-content;
    width: 100%;
    max-width: 680px;
    min-height: 100%;

    & > div {
      margin-bottom: 2rem;
    }
  }
}
