.desktop-main-container-config {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &-title {
    height: 48px;
    font-size: 18px;
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  &-content {
    flex: 1;
  }
}
